/* Estilos para el componente Input */
.inputWrapper {
  position: relative;
  margin-bottom: var(--spacing-3);
}

.input {
  width: 100%;
  padding: 12px;
  font-size: var(--font-size-base);
  border: 2px solid var(--color-gris);
  background-color: var(--color-white);
  transition: all var(--transition);
  outline: none;
}

.input:focus {
  border-color: var(--color-primary);
}

.input.hasError {
  border-color: var(--color-error);
}



.input.hasError:focus ~ .label,
.input.hasError:not(:placeholder-shown) ~ .label {
  color: var(--color-error);
}

/* Mensaje de error */
.errorMessage {
  display: block;
  margin-top: 4px;
  font-size: var(--font-size-sm);
  color: var(--color-error);
  min-height: 20px;
}

/* Asterisco requerido */
.required {
  display: none;
}
